<div class="text-center">
 <h1>ABOUT THE VIP PROJECT</h1>
 <p class="lead">This is the about section of the webpage.</p>
</div>
<br><br><br>
 <h3>What is VIP?</h3>
	<p>VIP (Vertically Integrated Projects) is a cumulative effort between staff, graduate students,
     and undergraduate students to participate in long term research projects.
      It seeks to: create long-term research & development experiences, cultivates leadership
      & mentoring and benefits faculty research programs.
      articipation in the program is not limited to students in engineering but all disciplines
      are encouraged to participate. The goal of the project is to have any level undergraduate
      students and faculty work together solving real world problems in a multidisciplinary environment.
Students earn academic credits and technical experience.</br>
	</p>

<br><br><br>

<h3>What is FIU’s Role?</h3>

<p>Our role is to start implementing the VIP project from scratch within our
  university.We have to create a platform that will allow students and faculty
  to work in a multi-disciplinary team with undergraduate and post-graduate students
   along with staff across the university.
</br>
</p>
