<div class="jumbotron text-center">
	<h1>Membership Report</h1>
	<p>{{ report.tagline }}</p>

	<div class="textbox">
		<div class="transparent-box">
			<t><h1>
				<table border="1" style="width:100%">
					<tr> 
						<td>First Name</td>
						<td>Last Name </td>
						<td>Rank</td>
						<td>Project</td>
						<td>Team</td>
					</tr>
					<tr>
						<td>{{report.f_name}}</td>
						<td>{{report.l_name}}</td>
						<td>{{report.rank}}</td>
						<td>{{report.project}}</td>
						<td>{{report.team}}</td>
					</tr>
				</table>
			</t></h1>
		</div>
	</div>
</div>