<div class="container">
    <h4 align="center">Projects</h4>
    <!--<div class = "bs-less">-->
        <div class = "container-fluid">
            <div id="sidebar" class="col-md-2">
                <div class = "btn-group-vertical" role="group" aria-label="...">
                    <a class="btn btn-danger" ui-sref="projectCreate">Create</a>
                </div>
            </div>
            <div id="main-content" class="col-md-10">
                <uib-accordion close-others="true">
                    <uib-accordion-group heading="{{project.proj}}" ng-repeat="project in projects">
                        <uib-alert type="warning" ng-show="!project.status">This project is not approved yet!</uib-alert>
                        <uib-alert type="success" ng-show="project.status">Congratulations, Approved!</uib-alert>

                        <pre>projdisc = {{project | json}}</pre>
                        <div class = row><font color = black>ID: {{project._id}} </font></div>
                        <div class = row><font color = black>Students Requested: {{project.request}}</font></div>
                        <div class = row><font color = black>Student Max: {{project.max}}</font></div>
                        <div class = row><font color = black>Disciplines: <pre>{{project.disc | json}}</pre></font></div>
                        <a class="btn btn-success" ui-sref="edit({project_id : project._id})">Edit</a>
                        <button class="btn btn-danger pull-right" ng-click="deleteProj(project._id)">Delete</button>
                    </uib-accordion-group>

                    <!--TODO: Submission form not working in accordion, REMOVE
                            Maybe inject in a pane above screen?
                    -->
                    <uib-accordion-group heading = "Create a new project!">
                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </div>
    <!--</div>-->
</div>
