<br><br>
 <div class="container">
   <div class="row">
     <h1 class="text-center">Reference Videos</h1>
   </div>
   <div class="row">
     <div class="col-sd-8 col-md-offset-2">
       <table class="table table-hover table-striped table-condensed table-bordered">
         <thead>
           <tr>
             <th>Author</th>
             <th>Youtube Video Link</th>
             <th>Site Map Link</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>Tiago Moore</td>
             <td><a href=http://www.youtube.com/watch?v=hYf7RDZp69o>Resume Uploader Reference </a></td>
             <td><a href=http://vip-dev.cis.fiu.edu/resume>Sitemap Link</a></td>
           </tr>
           <!-- Add your table entry here
           <tr>
             <td>Bob</td>
             <td>youtube.com</td>
             <td>vip/bob</td>
           </tr>
           --->
         </tbody>
       </table>
     </div>
   </div>
 </div>

</div>
