<div class="container">
   <div class="row">
     <h1 class="text-center">Reference Videos</h1>
   </div>

   <table class="white-bg table table-hover table-bordered">
    <thead>
      <tr>
        <th>Author</th>
        <th>User Story</th>
        <th>Youtube Video Link</th>
        <th>Sitemap Link</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="links in reference.links">
        <td style="width: 15%">{{ links.author }}</td>
        <td style="width: 55%">{{ links.user_story }}</td>
        <td style="width: 15%"><a target="_blank" ng-href="{{ links.link }}">Reference Link</a></td>
        <td style="width: 15%"><a  target="_blank" ng-href= "{{ links.sitemap }}">Sitemap Link</a></td>
      </tr>
    </tbody>
  </table>

  <form class="form-inline" name="addTutorials" ng-submit="reference.addReference()">
    <div class="clear h10"></div>
    <p>Your name</p>
    <input type="text" class="form-control" placeholder="Author" ng-model="reference.formData.author">

    <p>Your user story</p>
    <input type="text" class="form-control" placeholder="User Story" ng-model="reference.formData.user_story">

    <p>Your youtube link</p>
    <input type="text" class="form-control" placeholder="Youtube Link" ng-model="reference.formData.link">

    <p>The link to your page. (vip-dev.cis.fiu.edu/about)</p>
    <input type="text" class="form-control" placeholder="Sitemap (link to page)" ng-model="reference.formData.sitemap">
    <p>make sure you input the correct link or else you will need to update it in Rockmongo</p>

    <br></br>
    <button type="submit" class="btn btn-success">Add</button>
  </form>
</div>