
  <head>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

      <!-- jQuery --->
     <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-2.1.4.js"></script>
     <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
     <script src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js'></script>
     <src = "/js/userResume.js"></script>
  </head>

 <h1> <p class ="text-center"color="white"<\p>
   <font color = "white">Upload Your Resume</font>
</h1>

<div id="rootwizard">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
	<ul class="nav nav-tabs nav-justified" role="tablist">
	  	<li><a href="#tab1" data-toggle="tab">Demographics</a></li>
		<li><a href="#tab2" data-toggle="tab">Education</a></li>
		<li><a href="#tab3" data-toggle="tab">Work Experience</a></li>
		<li><a href="#tab4" data-toggle="tab">Skills</a></li>
		<li><a href="#tab5" data-toggle="tab">Volunteer</a></li>
		<li><a href="#tab6" data-toggle="tab">Interests</a></li>
		<li><a href="#tab7" data-toggle="tab">References</a></li>
	</ul>
	 </div>
	  </div>
	</div>

<form ng-submit="cUser.saveUser()">
<div class = "row" id= "wizardRow">
  <div class = col-md-2></div>
<div id="main_container_middle" class = "col-md-8">
<div class="tab-content">
	    <div class="tab-pane" id="tab1">
          <font color = "white">Enter demographic data below. Demographic data are requested for aggregate reporting and tracking purposes and are not associated with your application. These questions are optional and the decision not to answer them will not affect your consideration in any way.</font>
          <br><br>
  <table class ="table" >
      <tr id="s1Row1">
    <td><strong><font color="white"> Visa Status:</font></strong></td>
    <td>
        <select id = "visa-status" class = "form-control" ng-model="cUser.userData.visaStatus">
          <option></option>
          <option>Permanent</option>
          <option>Resident</option>
          <option>Citizen</option>
          <option>Other</option>
        </select>
    </td>
    <td><strong>  <font color="white">Cell Phone:</font> </strong></td>
    <td><input id="cell" class = "form-control" type="text" placeholder = "xxx-xxx-xxxx" ng-model="cUser.userData.cell"></td>
    </tr>
       <tr id="s1Row2">
    <td><strong><font color="white"> Gender:</font></strong></td>
     <td>
        <select id = "gender" class = "form-control" ng-model="cUser.userData.sex" >
          <option></option>
          <option>Male</option>
          <option>Female</option>
        </select>
    </td>
    <td><strong>  <font color="white">Place of Birth:</font> </strong></td>
    <td><input id="placeofbirth" class = "form-control" type="text" ng-model="cUser.userData.placeOfBirth" placeholder = "China"></td>
    </tr>
    <tr id="s1Row3">
    <td><strong><font color="white"> Race:</font></strong></td>
     <td>
        <select id = "race" class = "form-control" ng-model="cUser.userData.race"  >
          <option></option>
          <option>Black/African American</option>
          <option>White</option>
          <option>Asian</option>
          <option>American Indian/Alaska Native</option>
          <option>Native Hawaiian/Pacific Islander</option>
          <option>Other</option>

        </select>
    </td>
    <td><strong>  <font color="white">Ethnicity:</font> </strong></td>
        <td>
        <select id = "ethnicity" class = "form-control" ng-model="cUser.userData.ethnicity" >
          <option></option>
          <option>Hispanic/Latino</option>
          <option>Not Hispanic/Latino</option>
          <option>Other</option>
        </select>
    </td>
    </tr>
     <tr id="s1Row4">
    <td><strong><font color="white"> Summary:</font></strong></td>
    <td colspan = "3"><textarea  id = "userSummary"class="form-control"
    ng-model="cUser.userData.userSummary"
      rows="3" placeholder = "A summary of user..."></textarea>
    </tr>
 </table>
        <div class = "row">
        <div class="col-md-3 col-md-offset-5">
          </div>
        </div>
	    </div>
	    <div class="tab-pane" id="tab2">
	     <font color = "white"> Please enter most relevant education below:  </font>
     <br><br>

      <table class = "table">
         <tr id="s2Row1">
    <td><strong><font color="white"> Institution:</font></strong></td>
    <td><input id="institution" class = "form-control" type="text"
      ng-model="cUser.userData.userSummary"
      placeholder = "Florida International University"></td>
    <td><strong>  <font color="white">Credits Completed:</font> </strong></td>
    <td><input id="credits-completed" class = "form-control" type="text"  ng-model="cUser.userData.creditsCompleted" placeholder = "5"></td>
    </tr>
     <tr id="s2Row2">
    <td><strong><font color="white"> Major:</font></strong></td>
    <td><input id="major" class = "form-control" type="text"
      ng-model="cUser.userData.major"
      placeholder = "Chemistry"></td>
    <td><strong>  <font color="white">GPA:</font> </strong></td>
    <td><input id="gpa" class = "form-control" type="text"
      ng-model="cUser.userData.gpa"
       placeholder = "4.0"></td>
    </tr>
    <tr id="s2Row3">
    <td><strong><font color="white"> Degree:</font></strong></td>
     <td>
        <select id = "degreeType" class = "form-control" ng-model="cUser.userData.degreeType">
          <option></option>
          <option>Associate</option>
          <option>Bachelor</option>
          <option>Master</option>
          <option>Doctoral</option>
        </select>
     </td>
   <td><strong><font color="white"> Status:</font></strong></td>
        <td>
        <select id = "degreeCompletionStatus" class = "form-control"
         ng-model="cUser.userData.degreeCompletionStatus">
          <option></option>
          <option>Completed</option>
          <option>Not Completed</option>
        </select>
     </td>
    </tr>
    <tr id="s2Row4">
	   <td ><strong><font color="white"> Relevant Cources:</font></strong></td>
    <td colspan = "3"><input id="relevantCourses" class = "form-control" type="text"
      ng-model="cUser.userData.relevantCourses"
      placeholder = "Chemistry,Programming Languages, Operating Systems, Software Engineering......"></td>
     </tr>
        </table>
   <div class = "row">
        <div class="col-md-3 col-md-offset-5">
          </div>
        </div>
	    </div>

		<div class="tab-pane" id="tab3">
	     <font color = "white"> Please enter most relevant work experience below:  </font>
     <br><br>
<table class = "table">

  <tr id="s3Row1">
  <td><strong><font color="white"> Company:</font></strong></td>
  <td><input id="workCompany" class = "form-control" type="text"
    ng-model="cUser.userData.workCompany"
    placeholder = "Pied Piper"></td>

 <td><strong><font color="white"> Position:</font></strong></td>
  <td><input id="workPosition" class = "form-control" type="text"
    ng-model="cUser.userData.workPosition"
    placeholder = "CEO/President"></td>
  </tr>

    <tr id="s3Row2">
    <td><strong><font color="white"> Months Worked:</font></strong></td>
    <td><input id="monthsWorked" class = "form-control" type="text" placeholder = "14"></td>
   <td><strong><font color="white"> Position Status :</font></strong></td>
    <td>
        <select id = "workStatus" class = "form-control"  ng-model="cUser.userData.workStatus">
          <option>Full-Time</option>
          <option>Part-Time</option>
        </select>
    </td>
    </tr>
    <tr id="s3Row3">

   <td><strong>
   <font color="white">Job Summary:
       <a data-toggle="tooltip" class="tooltipLink" data-original-title= "Example: Pied Piper is a multi-platform technology based on a proprietary universal compression algorithm that has consistently fielded high Weisman Scores that are not merely competitive, but approach the theoretical limit of lossless compression.">
    <span class="glyphicon glyphicon-question-sign"></span>
      </a>
    </font></strong></td>
   <td colspan = "3"><textarea id = "workSummary" class="form-control" rows="3"
     ng-model="cUser.userData.workSummary"
      ></textarea>
   </tr>
   <tr id="s3Row4">
 <td><strong>
   <font color="white">Highlights:
       <a data-toggle="tooltip" class="tooltipLink" data-original-title= "Example:Build an algorithm for artist to detect if their music was violating copy right infringement laws.
        Successfully won Techcrunch Disrupt.Optimized an algorithm that holds the current world record for Weisman Scores">
    <span class="glyphicon glyphicon-question-sign"></span>
      </a>
    </font></strong></td>
  <td colspan = "3"><textarea  id = "workHighlights"class="form-control" rows="3"
    ng-model="cUser.userData.workHighlights"
    ></textarea>
  </tr>
</table>
        <div class = "row">
        <div class="col-md-3 col-md-offset-5">
          </div>
        </div>
	    </div>
		<div class="tab-pane" id="tab4">
<font color = "white">Please list any relevant skills below: </font>
     <br><br>
<tr id="S4row1">
    <td><strong><font color="white"> Skill List :</font></strong></td>
    <td><input id="skills" class = "form-control" type="text"
      ng-model="cUser.userData.skills"
      placeholder = "Java,C++,C...."></td>
  </tr>
        <div class = "row">
        <div class="col-md-3 col-md-offset-5">
              </div>
        </div>
	    </div>
		<div class="tab-pane" id="tab5">
   <font color = "white">Enter voluntary or extracurricular work below : </font>
<table class = "table">
  <tr id="s3Row1">
  <td><strong><font color="white"> Organization:</font></strong></td>
  <td><input id="volunteerOrganization" class = "form-control" type="text" placeholder = "CoderDojo"   ng-model="cUser.userData.volunteerOrganization" ></td>
 <td><strong><font color="white"> Position:</font></strong></td>
  <td><input id="volunteerPosition" class = "form-control" type="text" placeholder = "Teacher"   ng-model="cUser.userData.volunteerPosition" ></td>
  </tr>
    <tr id="s3Row2">
    <td><strong><font color="white"> Months Involved:</font></strong></td>
    <td><input id="volunteerTime" class = "form-control" type="text" placeholder = "3" ng-model="cUser.userData.volunteerTime" ></td>
   <td><strong><font color="white">Website :</font></strong></td>
 <td><input id="volunteerWebsite" class = "form-control" type="text" placeholder = "www.coderdojo.com"   ng-model="cUser.userData.volunteerWebsite" ></td>
    </tr>
    <tr id="s3Row3">
   <td><strong>
   <font color="white">Summary:
       <a data-toggle="tooltip" class="tooltipLink" data-original-title= "Example: Global movement of free coding clubs for young people.">
    <span class="glyphicon glyphicon-question-sign"></span>
      </a>
    </font></strong></td>
   <td colspan = "3"><textarea  id = "volunteerSummary"class="form-control" rows="3"     ng-model="cUser.userData.volunteerSummary" ></textarea>
   </tr>
   <tr id="s3Row4">
 <td><strong>
   <font color="white">Highlights:
       <a data-toggle="tooltip" class="tooltipLink" data-original-title= "Example:Awarded 'Teacher of the Month'">
    <span class="glyphicon glyphicon-question-sign"></span>
      </a>
    </font></strong></td>
  <td colspan = "3"><textarea  id = "volunteerHighlights"class="form-control" rows="3"   ng-model="cUser.userData.volunteerHighlights" ></textarea>
  </tr>
</table>
       <div class = "row">
        <div class="col-md-3 col-md-offset-5">
          </div>
        </div>

	    </div>
		<div class="tab-pane" id="tab6">
      	     <font color = "white"> Please list your interests below: </font>
     <br><br>
<tr id="S6row1">
    <td><strong><font color="white"> Interest List :</font></strong></td>
    <td><input id="interestList" class = "form-control" type="text"
        ng-model="cUser.userData.interestList"
      placeholder = "Coding,Wildfile,Unicorns,Ferrets,Robotics,AI..."></td>
  </tr>
	    </div>
		<div class="tab-pane" id="tab7">
  <font color = "white"> Please list your references below: </font>
      <br><br>

<table class = "table">
  <font color = "white"> Reference #1: </font>
  <tr id="s3Row1">
  <td><strong><font color="white"> Reference Name:</font></strong></td>
  <td><input id="firstReferenceName" class = "form-control" type="text" ng-model="cUser.userData.firstReferenceName" placeholder = "Dr. Murphy"></td>
 <td><strong><font color="white"> Email Address:</font></strong></td>
  <td><input id="firtReferenceEmail" class = "form-control" type="text"
    ng-model="cUser.userData.firtReferenceEmail"
    placeholder = "drmurphy.fiu.edu"></td>
  </tr>
  <tr id = "s7Row3">
     <td><strong>
   <font color="white">References:
       <a data-toggle="tooltip" class="tooltipLink" data-original-title= "Example: It is my pleasure to recommend Richard, his performance working as a consultant for Main St. Company proved that he will be a valuable addition to any company.">
    <span class="glyphicon glyphicon-question-sign"></span>
      </a>
    </font></strong></td>
   <td colspan = "3"><textarea  id = "firstReferenceNotes"class="form-control"
     ng-model="cUser.userData.firstReferenceNotes"
     rows="3"></textarea>
  </tr>
  </table>
      <table class = "table">
  <font color = "white"> Reference #2: </font>
  <tr id="s3Row1">
  <td><strong><font color="white"> Reference Name:</font></strong></td>
  <td><input id="secondReferenceName" class = "form-control" type="text"
    ng-model="cUser.userData.secondReferenceName"
    placeholder = "Dr. Trask"></td>
 <td><strong><font color="white"> Email Address:</font></strong></td>
  <td><input id="secondReferenceEmail" class = "form-control" type="text"
      ng-model="cUser.userData.secondReferenceEmail"
      placeholder = "trask.fiu.edu"></td>
  </tr>
  <tr id = "s7Row3">
     <td><strong>
   <font color="white">References:
       <a data-toggle="tooltip" class="tooltipLink" data-original-title= "Example: It is my pleasure to recommend Richard, his performance working as a consultant for Main St. Company proved that he will be a valuable addition to any company.">
    <span class="glyphicon glyphicon-question-sign"></span>
      </a>
    </font></strong></td>
   <td colspan = "3"><textarea  id="secondReferenceNotes"class="form-control"
       ng-model="cUser.userData.secondReferenceNotes"
     rows="3"></textarea>
  </tr>
  </table>

<div class = "row">
        <div class="col-md-3 col-md-offset-5">
       <br>
    <button id="submit-button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Submit Resume</button>
	    <br>

          </div>
        </div>
	    </div>

</div>
<div class = col-md-2></div>
</div>
</div>
</form>

<div class="row show-hide-message" ng-show="cUser.message">
  <div class="col-sm-6 col-sm-offset-2">

    <div class="alert alert-info">
      {{ cUser.message }}
    </div>

  </div>
</div>
