<div class="text-center" ng-controller="ProfileCtrl">
 <h1>Profile</h1>
	<div>
		<img src="{{picture}}"></img>
		<p class="lead">{{sub.mail}}</p>
		<!-- <div class="lead" ng-model="sub.subData.email">{{sub.mail}}</div> -->
		<!-- <div ng-model="sub.subData.email" value={{sub.mail}} ></div> -->
	   	<div class="checkbox">
    		<label>
      			<!-- <input type="checkbox" ng-model="sub.subData.email" ng-click="sub.subscribe()" ng-true-value="{{sub.mail}}" ng-false-value="{{sub.mail}}"> Subscribe to FIU-VIP -->
      			<input type="checkbox" ng-model="sub.checked" ng-click="sub.subscribe()"> Subscribe to FIU-VIP
    		</label>
  		</div>
	</div>
</div>

<!-- <h1>Create Event</h1> -->



<!-- <form class="InputUser" ng-submit="sub.subscribe()">

    <div>
        <label>Name</label>
        <div>
            <input type="text" ng-model="sub.subData.email">
        </div>
    </div>

    <div >
        <button type="submit" class="btn btn-success btn-lg btn-block" >Create Event</button>

    </div>

</form> -->