<div>
<h5 style="font-size:200%"> Question Submission </h5>

<form name="question" ng-submit="qcontrol.addQuestion(question.$valid)" novalidate>
  <h4>
  <p> Question </p>
  <textarea class="form-control" rows="10" cols="100" ng-model="qcontrol.formData.question" required ></textarea><br><br><br><br>

  Form Type <br>
  <input name="ftype" type="radio" value="pe" ng-model="qcontrol.formData.ft" required> Peer Evaluation &nbsp &nbsp &nbsp &nbsp
  <input name="ftype" type="radio" value="fb" ng-model="qcontrol.formData.ft" required> Feedback <br><br><br>

  Question Type <br>
  <input name="qtype" type="radio" value="sb" ng-model="qcontrol.formData.qt" required> Scale &nbsp &nbsp &nbsp &nbsp
  <input name="qtype" type="radio" value="tf" ng-model="qcontrol.formData.qt" required> True/False &nbsp &nbsp &nbsp &nbsp
  <input name="qtype" type="radio" value="sa" ng-model="qcontrol.formData.qt" required> Short Answer <br><br><br>

  <button type="submit" class="btn btn-success" ng-disabled="question.$invalid"> Submit</button>
</div>
