<div>
	<!-- form to add computer to the list -->
	<form class="form-inline" ng-submit="main.addComputer()">
		<h4>Implementation, Initial Experiences, and Outcomes</h4><br>
		<p>1. Please describe steps taken toward institutionalization of VIP. Institutionalization applies to new processes, policies and structures that will likely continue beyond the funding period.</p>
		<input type="text" class="form-control" ng-model="main.computerData.name">

		<p>2. Please describe any technology challenges you have encountered.</p>
		<input type="text" class="form-control" ng-model="main.computerData.name">

		<p>3. Please describe your strategies for departmental/college approval on how VIP credits can be used to fulfill degree requirements</p>
		<input type="text" class="form-control" ng-model="main.computerData.name">

		<p>4. Please describe faculty receptiveness to the VIP model and program.</p>
		<input type="text" class="form-control" ng-model="main.computerData.name">

		<p>5. Please describe any changes in your approach to VIP program implementation, especially approaches and/or models that bring a new dimension to the VIP consortium..</p>
		<input type="text" class="form-control" ng-model="main.computerData.name">

		<p>6. Please describe successes that you have had in your VIP implementation and program activities.</p>
		<input type="text" class="form-control" ng-model="main.computerData.name">

		<p>7. Please list any accepted conference abstracts, conference proceedings, academic or other publications that have resulted from your VIP Program.</p>
		<input type="text" class="form-control" ng-model="main.computerData.name">

		<h4>Evaluation</h4><br>
		<p>1. Please describe the name and the status (in development, used, etc.) of data systems used to track VIP.</p>
		<input type="text" class="form-control" ng-model="main.computerData.name">

		<p>2. Please describe the ways in which you monitor activities and performance of VIP on your campus.</p>
		<input type="text" class="form-control" ng-model="main.computerData.name">

		<p>3. Please describe how you are monitoring your VIP program for progress, success, and areas for improvement. Be sure to note whether your site has implemented evaluation tools for VIP (surveys, questionnaires, focus groups, etc.). Please also indicate the contact person for these activities.</p>
		<input type="text" class="form-control" ng-model="main.computerData.name">

		<p>4. Please describe whether/how you have interacted with the evaluation team, and the status of data sharing with the evaluation team. Be sure to indicate any issues or challenges in this process.</p>
		<input type="text" class="form-control" ng-model="main.computerData.name">
		<br>
		
		<button type="submit" class="btn btn-success">Add</button>
	</form>
</div>