
<br>

<h1>Create Event</h1>

<form class="InputUser" ng-submit="event.saveEvent()">
    
    <br>
    
    
  <div>
    <select required ng-model="event.eventData.month">
      <option value="">(month)</option>
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
    </select>
    

    <select required ng-model="event.eventData.day">
        <option value="">(day)</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
    </select>
      
      <select required ng-model="event.eventData.year">
        <option value="">(year)</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
        <option value="2028">2028</option>
        <option value="2029">2029</option>
        <option value="2030">2030</option>
    </select>
      
      <select required ng-model="event.eventData.hour">
        <option value="">(hour)</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>
      
      <select required ng-model="event.eventData.minutes">
        <option value="">(minutes)</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
        <option value="32">32</option>
        <option value="33">33</option>
        <option value="34">34</option>
        <option value="35">35</option>
        <option value="36">36</option>
        <option value="37">37</option>
        <option value="38">38</option>
        <option value="39">39</option>
        <option value="40">40</option>
        <option value="41">41</option>
        <option value="42">42</option>
        <option value="43">43</option>
        <option value="44">44</option>
        <option value="45">45</option>
        <option value="46">46</option>
        <option value="47">47</option>
        <option value="48">48</option>
        <option value="49">49</option>
        <option value="50">50</option>
        <option value="51">51</option>
        <option value="52">52</option>
        <option value="53">53</option>
        <option value="54">54</option>
        <option value="55">55</option>
        <option value="56">56</option>
        <option value="57">57</option>
        <option value="58">58</option>
        <option value="59">59</option>
    </select>
      
      <select required ng-model="event.eventData.ampm">
          <option value="">(am/pm)</option>
          <option value="am">AM</option>
          <option value="pm">PM</option>
    </select>
      
    
    
<!--
    <select required ng-model="event.eventData.year">
        <option value="">(year)</option>
        <script>
              var myDate = new Date();
              var year = myDate.getFullYear();
              for(var i = 1900; i < year+2; i++){
                  document.write('<option value="'+i+'">'+i+'</option>');
              }
        </script>
    </select>
-->
      
      
      
<!--
  Date:
  <input required type="date" ng-model="event.eventData.date">
  Time:
  <input required type="time">
-->

<!--
      Date:
  <input required type="datetime-local" ng-model="event.eventData.date">
-->
      
      
      
      
    </div>
    
    

    <br>
    
<!--
    <div>
        <input type="text" class="form-control" placeholder="Date   (format: Feb 5 2013 03:15 pm)" ng-model="event.eventData.date">
    </div>
-->
    <input required type="text" class="form-control" placeholder="Event Name" ng-model="event.eventData.name" />
    <textarea required class="form-control2" maxlength="200" rows="3" placeholder="Message" ng-model="event.eventData.message"></textarea>
    <br>
    <input class="btn submit-btn pull-right" type="submit" value="Create Event" />
    
    
<!--
    <div >
        <button type="submit" class="btn btn-success btn-lg btn-block" >Create Event</button>

    </div>
-->

</form>

<div class="row show-hide-message" ng-show="event.message">
    <div class="col-sm-6 col-sm-offset-2">

        <div class="alert alert-info">
            {{ event.message }}
        </div>

    </div>
</div>