<div>
    <h2 > VIP Events</h2>
    <br>
    <div ng-repeat="e in event.events | orderBy: 'name'">

        
        <p>{{e.name}}</p>
        <p>{{e.message}}</p>
<!--        <p>{{e.date}}</p>-->
        <p>{{e.month}} {{e.day}} {{e.hour}} {{e.minutes}}</p>
<!--
        <label class='date'>
            <span class='weekday'>{{e.month}}</span>
            <span class='day'>{{e.day}}</span>
            <span class='hours'>{{e.hour}}</span>
            <span class='minutes'>{{e.minutes}}</span>
        </label>
-->
        <br>
        


    </div>
</div>