<div>
<!-- Student feedback from professor -->
    <br>
    <h4>Project Feedback</h4>

    <form id="form-feedback" accept-charset="UTF-8" ng-submit="main.feedbackForm">
        <br><p><label>Your Name<br>
            <input type="text" autofocus required size="48" name="name" value=""></label></p>
        <br><p><label>Email Address<br>
            <input type="email" required title="Please enter a valid email address" size="48" name="email" value=""></label></p>
        <br><p><label>Subject<br>
            <input type="text" size="48" name="subject" value=""></label></p>
        <br><p><label>Message<br>
            <textarea required name="message" cols="50" rows="8"></textarea></label></p>
        <br><p><input type="submit" name="feedbackForm" value="Send Message"></p>
    </form>

</div>
