html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 100;
	color: #000;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

html {
	background: rgba(0,46,98,1);
	background: -moz-linear-gradient(top, rgba(0,46,98,1) 0%, rgba(204,163,41,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,46,98,1)), color-stop(100%, rgba(204,163,41,1)));
	background: -webkit-linear-gradient(top, rgba(0,46,98,1) 0%, rgba(204,163,41,1) 100%);
	background: -o-linear-gradient(top, rgba(0,46,98,1) 0%, rgba(204,163,41,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,46,98,1) 0%, rgba(204,163,41,1) 100%);
	background: linear-gradient(to bottom, rgba(0,46,98,1) 0%, rgba(204,163,41,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002e62', endColorstr='#cca329', GradientType=0 );
	background-position: fixed;
	background-attachment: fixed;
}

.container {
	width: 1000px;
	overflow: visible;
	margin: 0 auto;
}

.shell {
	width: 1000px;
	overflow: visible;
	margin: 0 auto;
}

.logo img{
	max-height: 250px;
	position:fixed;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -96px
}

.navbar-header {
	height: 80px;
	width: 100%;
	background-color: #002146;
	border-bottom: 2px solid #c5960c;
	color: #fff;
	float: left;
}

.navbar-header h1{
	line-height: 80px;
}

.navbar {
	color: #fff;
	display: block;
	position: relative;
	line-height: normal;
	float: right;
	text-align: center;
}

.navbar ul {
	margin: 0;
	padding: 0;
	list-stye: none;
}

.navbar ul li {
	position: relative;
    float: left;
	width: 109px;
    list-style: none; 
    margin: 0; 
    padding: 0; 
    font-size: 17px; /*top-level font size*/
}

.navbar ul li a {
    display: block;
    text-decoration:none;
    padding: 30px 5px;
	border-right: 2px solid #c5960c;
	color: inherit;
}

.navbar ul li a:hover {
    background-color: rgba(146, 197, 255, .3);
}



.navbar li:first-child {
	border-left: 2px solid #c5960c;
}

h1 {
	padding: 0px;
	margin: 0px;
}

.left {
	float: left;
}

.right {
	float: right;
}