<div class="jumbotron text-center">
	<h1>Proposal Report</h1>
	<p>{{ report.tagline }}</p>

<div class="textbox">
	<div class="transparent-box">
		<t><h1>
		<table border="1" style="width:100%">
			<tr> 
				<td>#</td>
				<td>Proposal Name</td>
				<td>Acceptance</td>
				<td>Department</td>
				<td>Feedback</td>
				<td>Faculty and Staff</td>
			</tr>
			<tr ng-repeat>
				<td>{{report.num}}</td>
				<td>{{report.p_name}}</td>
				<td>{{report.accept}}</td>
				<td>{{report.department}}</td>
				<td>{{report.feedback}}</td>
				<td>{{report.team}}</td>
			</tr>
		</table>
		</t></h1>
	</div>
</div>
